about.pug
doctype html
html
  head
    include components/head
  body
    header
      include components/nav
    main.about
      .about--img
        img(src='img/ClubDayHeadshot03.jpg')
      .about__main
        .about__main--big-text
          h1 I'm Ben Cynamon 
          p (pronounced like the spice)
        .about__main--small-text
          p Graduating from Florida State University in May of 2019, I'm fascinated with the immense world-improving opportunities existing at the intersection of biology and computing.
          p  
          p Aside from a Font Awesome stylesheet, I built this website without any templates to reinforce my understanding of web development fundamentals.
          br
          a(href="https://bitbucket.org/cynamonster/cynamonster.bitbucket.io/src") Click here to check out this site's repositiory!
          //- br
          //- br
          //- h3 Check out my work below!

    //- section.about__feature
    //-   .about__feature--btn-box
    //-     a(href="dev.html")
    //-       p Development
    //-     a(href="design.html")
    //-       p Graphic Design
    //-     //- a(href="writing.html")
        //-   p Writing


  footer
    include components/footer
    script. 
      var item = document.getElementById('about')
      item.classList.add("active-nav")
      

about.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="img/favicon.ico">
    <title>Ben Cynamon</title>
  </head>
  <body>
    <header>
      <header><a href="about.html">
          <div class="header__logo"><i class="fa fa-code fa-3x" aria-hidden="true"></i></div></a>
        <div class="header__nav-bar">
          <li id="research"><a id="about" href="about.html">About</a></li>
          <li id="about"><a id="contact" href="contact.html">Contact</a></li>
          <li id="dev"><a id="contact" href="dev.html">Development</a></li>
          <li id="design"><a id="contact" href="design.html">Design</a></li>
          <li id="resume"><a id="resume" href="resume.html">Resume</a></li>
        </div>
      </header>
    </header>
    <main class="about">
      <div class="about--img"><img src="img/ClubDayHeadshot03.jpg"></div>
      <div class="about__main">
        <div class="about__main--big-text">
          <h1>I'm Ben Cynamon </h1>
          <p>(pronounced like the spice)</p>
        </div>
        <div class="about__main--small-text">
          <p>Aside from a Font Awesome stylesheet, I built this website without any templates to reinforce my understanding of web development fundamentals.</p><br><a href="https://bitbucket.org/cynamonster/cynamonster.bitbucket.io/src">Click here to check out this site's repositiory!</a>
        </div>
      </div>
    </main>
  </body>
  <footer>
    <section class="footer">
      <div class="cc-license"> <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"></a></div>
      <div class="footer__main"><a href="https://linkedin.com/in/bencynamon"><i class="fab fa-linkedin-in"></i></a><a href="mail:ben.cynamon@gmail.com"><i class="far fa-envelope"></i></a><a href="https://github.com/cynamonster"><i class="fab fa-github"></i></a></div>
      <p>&copy; 2019 Cynamonster, Inc.</p>
    </section>
    <script>
      var item = document.getElementById('about')
      item.classList.add("active-nav")
    </script>
  </footer>
</html>
